<!DOCTYPE html>
<ui:composition lang="#{languageBean.languageTag}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/template/template.xhtml">
	<ui:param name="pageTitle" value="Cadastro CRUD" />

	<ui:define name="header">
		#{label['registry']}
	</ui:define>

	<ui:define name="subheader">
		#{label['language']}
	</ui:define>

	<ui:define name="main">
		<h:form id="formLanguage" prependId="false">
			<p:panelGrid columns="2" cellpadding="20" styleClass="noBorders">
				<p:outputLabel value="#{label['language']}:" for="idSelecao" />
				<p:selectOneMenu id="idSelecao" value="#{languageBean.languageTag}">
					<f:selectItems value="#{languageBean.available}" var="l"
						itemValue="#{l.toLanguageTag()}"
						itemLabel="#{l.getDisplayLanguage(l)}" />
					<f:ajax listener="#{languageBean.reload()}" />
				</p:selectOneMenu>
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>