<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/template/template.xhtml">

	<ui:param name="pageTitle" value="Cadastro CRUD" />

	<ui:define name="header">
		#{label['registry']}
	</ui:define>

	<ui:define name="subheader">
		#{label['retrieve']}
	</ui:define>

	<ui:define name="main">
		<h:form id="formSearch" prependId="false">
				<p:panelGrid columns="2" styleClass="noBorders">
					<p:outputLabel value="#{label['firstname']}:" for="idFirstName" />
					<p:inputText id="idFirstName" value="#{retrieveBean.firstName}" />

					<p:outputLabel value="#{label['lastname']}:" for="idLastName" />
					<p:inputText id="idLastName" value="#{retrieveBean.lastName}" />

					<p:outputLabel value="#{label['email']}:" for="idEmail" />
					<p:inputText id="idEmail" value="#{retrieveBean.email}" />
				</p:panelGrid>
				<p:panelGrid columns="2" styleClass="noBorders">
					<p:commandButton value="#{label['search']}" update=":singleDT" />
					<p:commandButton value="#{label['clean']}"
						update="@form,:singleDT"
						actionListener="#{retrieveBean.cleanSearch}">
						<p:resetInput target="@form" />
					</p:commandButton>
				</p:panelGrid>
		</h:form>
		<h:form id="formTable" prependId="false">
				<p:panelGrid columns="3" styleClass="noBorders">
					<p:commandButton icon="fas fa-user-plus" value="#{label['create']}"
						action="#{retrieveBean.createAction}" />
					<p:commandButton icon="fas fa-user-edit" value="#{label['update']}"
						action="#{retrieveBean.updateAction}" />
					<p:commandButton icon="fas fa-user-minus"
						value="#{label['delete']}" action="#{retrieveBean.deleteAction}" />
				</p:panelGrid>
				<p:panelGrid>
					<p:messages closable="true" redisplay="false">
						<p:autoUpdate />
					</p:messages>
				</p:panelGrid>
				<p:panelGrid>
					<p:outputLabel value="#{label['message']}: #{flash.message}"
						rendered="#{not (flash.message == null)}" />
				</p:panelGrid>
			<p:dataTable id="singleDT" var="person"
				value="#{retrieveBean.tablePaginated}" selectionMode="single"
				selection="#{retrieveBean.personSelected}" rowKey="#{person.id}"
				rows="5" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" reflow="true" lazy="true">

				<p:column headerText="#{label['firstname']}">
					<h:outputText value="#{person.firstName}" />
				</p:column>
				<p:column headerText="#{label['lastname']}">
					<h:outputText value="#{person.lastName}" />
				</p:column>
				<p:column headerText="#{label['email']}">
					<h:outputText value="#{person.email}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
