<!DOCTYPE html>
<ui:composition lang="#{languageBean.languageTag}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/template/template.xhtml">
	<ui:param name="pageTitle" value="Cadastro CRUD" />

	<ui:define name="header">
		#{label['registry']}
	</ui:define>

	<ui:define name="subheader">
		#{label['theme']}
	</ui:define>

	<ui:define name="main">
		<h:form id="formTheme" prependId="false">
			<p:panelGrid columns="2" cellpadding="20" styleClass="noBorders">
				<p:outputLabel value="#{label['theme']}:" />
				<p:themeSwitcher value="#{themeBean.theme}" style="width:165px">
					<f:selectItems value="#{themeBean.themes}" />
					<p:ajax />
				</p:themeSwitcher>
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>